 
    :root{
       --orange:rgb(241,14,14);
    }
    html{
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 6rem;
        scroll-behavior: smooth;
    }
    body{
      background: url(images/dehradun2.jpg);
    }
    
    .heading{
        text-align:center;
        padding:2.5rem;
       }
    .heading span{
        background-color:rgb(240,155,19);
        color: black;
        font-size: 3.5rem;
        border-radius: .5rem;
        padding: 2rem 1rem;
    }
    .heading span.space{
       background: none;
    }
    .btn{
        display:inline-block;
         margin-top: 1rem;
         background-color: rgb(207, 57, 57);
         color: #fff;
         padding: 2rem 3rem;
         border:none;
         cursor:pointer;
         font-size: 1.7rem;
    }
    .btn:hover{
        background-color: rgb(91,91,202);
               color:black;
     }
     header{
        position:fixed;
        top:0;left:0;right:0;
        background-color:#444;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 9%;
        height: 15%;
        color:white;
        font-size: 3.5rem;
     }
     header .logo{
        font-size: 2.5rem;
        font-weight: bolder;
        color:#fff;
        text-transform: uppercase;
     }
     header .logo span{
        color:rgb(213,64,64);
     }
     header .navbar a{
       color:#fff;
       font-size: 2rem;
       margin: 0.8rem;
     }
     header .navbar a:hover{
        color: var(--orange);
     }
     header .icons i{
        font-size: 2.5rem;
        color:#fff;
        cursor:pointer;
        margin-right: 2rem;
     }
     header .icons i:hover{
        color: var(--orange);
     }
     header .search-bar-container{
        position: absolute;
        top: 100%;left: 0;right: 0;
        padding: 1.5rem 2rem;
        background: #333;
        border-top: 1rem solid rgba(255,255,255,2);
        display: flex;
        align-items: center;
        z-index: 1001;
        clip-path: polygon( 0 0,100% 0,100% 100%,0 100%);
    
     }
     header .search-bar-container .active{
        clip-path: polygon( 0 0,100% 0,100% 100%,0 100%);
     }
     header .search-bar-container #search-bar{
        width: 100%;
        padding: 1rem;
        text-transform:none ;
        color: #333;
        font-size: 1.7rem;
        border-radius: .5rem;
     }
     header .search-bar-container label{
        color: #fff;
        cursor: pointer;
        font-size: 3rem;
        margin-left: 1.5rem;
     }
     header .search-bar-container label:hover{
    color: var(--orange);
     }
     #vedio-slider{
      font-family:'nunito',sans-serif;
      margin:0;
      padding:0;
      box-sizing: border-box;
      text-transform: capitalize;
      outline: none;
      border: none;
      text-decoration: none;
      transition: all .2s linear;
      width:100%;
      height: 50%;
      position: inherit; 
      }
      #background-video{
         width: 100%;
         height: 100%;
         object-fit: cover;
         z-index: -1;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
      }
      #video{

         color: white;
         font-family:Trebuchet MS;
         font-weight:bold;
         text-align:center;
         font-size: 6rem;
         margin-top: 30vh;
      }
      #video2{
         
   color: white;
   font-family:Trebuchet MS;
    font-weight:bold;
    text-align:center;
    font-size: 3rem;
      }
      section{
         border: 2px solid rgb(13, 12, 12);
         border-radius: 2rem;
         background-color: #444;
         padding:2rem;
         font-size: 1.7rem;
         color: white;
         box-shadow :4px;
         
      }
      #btn{
         display:inline-block;
          margin-top: 1rem;
          background-color: rgb(207, 57, 57);
          color: #fff;
          padding: 1rem 3rem;
          border:2px solid#fff;
          border-radius: 5rem;
          cursor:pointer;
          font-size: 1.7rem;
          text-decoration: none;
          box-shadow: 0 4px 4px 0 ;
     }
    hr{
      width: 100;
      height: 3px;
      color: black;
    }
    section .mass{
      padding: 3rem;
      background-color: rgb(238, 234, 234);
      color: black;
      box-shadow :0 4px 8px 0 solid black;
    }
    #img{
      float:left;
      width: 90%;
      margin-left:2rem;
    }
    .layer{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
      grid-gap: 30px;
      margin-top: 50px;
    }
    .layer .layer-list img{
      width: 100%; 
      border-radius: 10px;
      display: block;
    }
    @media(max-width:768px) {
      #background-video{
         display: none;
      }
      body{
         background-size: cover;
      }
    }
    @media( max-width:1200px) {
      img{
         width: 100%;
         display: inline;
      }
      html{
         font-size: 55%;
      }
   }

   @media(max-width:991px){
      header{
         padding:2rem;
      }
      section{
         padding: 2rem;
      }
      img{
         width: 100%;
         display: inline;
      }
   }
   @media(max-width:768px){
      #menu-bar{
         display: initial;
      }
   }
      
      
    @media ( max-width:768px) {
      img{
         width: 100%;
         display: inline;
      }
   }

    